@using multiservis.Models;
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - multiservis</title>
    @Styles.Render("~/Estilos")

    <meta name="theme-color" content="#01579b">
    <link rel="shortcut icon" href="~/Resources/images/favicon.ico">
</head>
<body class="blue-grey darken-4">
    <header>
        <div class="navbar-fixed">
            <nav class="red darken-3">
                <a href="#!" data-activates="menuLateral" class="button-collapse top-nav full hide-on-large-only white-text waves-effect"><i class="icon-menu"></i></a>
                <div class="nav-wrapper">
                    <a href="#!" class="brand-logo">MultiServis</a>
                    <ul class="right hide-on-med-and-down">
                        <li><a id="AbriMenu"><i class="icon-menu"></i></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <ul id="menuLateral" class="side-nav red-text text-darken-3 red darken-3">
            <li class="logo white">
                <div class="row">
                    <div class="col s6">
                        <h2><img src="~/Resources/images/multiservis.png" class="responsive-img"></h2>
                    </div>
                    <div class="col s6">
                        <h2 class="btn-block waves-effect waves-light white red-text text-darken-3" onclick="CerrarSideNav();"><i class="icon-cancel-1"></i></h2>
                    </div>
                </div>
            </li>
            <ul class="collapsible white-text" data-collapsible="accordion">
                @{
                    multiservisEntities BD = new multiservisEntities();
                    if (Request.IsAuthenticated)
                    {
                        usuario usu = BD.usuario.Single(o => o.nombre_usuario == User.Identity.Name);

                        foreach (var item in usu.asignar_rol_usuario)
                        {
                            if (item.rol == 1)
                            {
                                <li>
                                    <div class="collapsible-header"><i class="icon-sliders"></i>Panel Administrativo</div>
                                    <div class="collapsible-body">
                                        <ul>

                                            <li><a class="red-text text-darken-3" href="/Material/">Materiales</a></li>
                                            <li><a class="red-text text-darken-3" href="/Herramienta/">Herramientas</a></li>
                                            <li><a class="red-text text-darken-3" href="/UnidadHerramienta/">Unidades de Herramientas</a></li>
                                            <li><a class="red-text text-darken-3" href="/UnidadMaterial/">Unidades de Materiales</a></li>
                                            <hr />
                                            <li><a class="red-text text-darken-3" href="/TipoServicio/">Tipo de Servicios</a></li>
                                            <li><a class="red-text text-darken-3" href="/Tecnico/">Tecnicos</a></li>
                                            <li><a class="red-text text-darken-3" href="/TecnicoArea/">Tecnicos - Area</a></li>
                                            <hr />
                                            <li><a class="red-text text-darken-3" href="/Privilegio/">Privilegios</a></li>
                                            <li><a class="red-text text-darken-3" href="/Rol/">Roles</a></li>
                                            <li><a class="red-text text-darken-3" href="/Usuario/">Usuarios</a></li>
                                            <li><a class="red-text text-darken-3" href="/AsignarRolUsuario/">Asignar Rol a Usuario</a></li>
                                            <hr />
                                            <li><a class="red-text text-darken-3" href="/Area/">Areas</a></li>
                                            <li><a class="red-text text-darken-3" href="/Servicio/">Servicios</a></li>
                                            <li><a class="red-text text-darken-3" href="/DetalleServicio/">Detalles de Servicio</a></li>
                                            <hr />
                                            <li><a class="red-text text-darken-3" href="/AdmReserva/">Administrar Reservas</a></li>
                                            <hr />
                                            <li><a class="red-text text-darken-3" href="/FichaTecnica/">Ficha Técnica</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="collapsible-header"><i class="icon-sliders"></i>Panel Cliente</div>
                                    <div class="collapsible-body">
                                        <ul>

                                            <li><a class="red-text text-darken-3" href="/Reserva/">Solicitar Servicio</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="collapsible-header"><i class="icon-user-1"></i>Cuenta</div>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li><a class="red-text text-darken-3" href="/Cuenta/Logout">Cerrar Sesion</a></li>
                                        </ul>
                                    </div>
                                </li>
                            }
                            if (item.rol == 2)
                            {
                                <li>
                                    <div class="collapsible-header"><i class="icon-sliders"></i>Panel Cliente</div>
                                    <div class="collapsible-body">
                                        <ul>

                                            <li><a class="red-text text-darken-3" href="/Reserva/">Solicitar Servicio</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="collapsible-header"><i class="icon-user-1"></i>Cuenta</div>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li><a class="red-text text-darken-3" href="/Cuenta/Logout">Cerrar Sesion</a></li>
                                        </ul>
                                    </div>
                                </li>
                            }
                        }

                    }
                    else
                    {
                        <li>
                            <div class="collapsible-header"><i class="icon-user"></i>Cuenta</div>
                            <div class="collapsible-body">
                                <ul>

                                    <li><a class="red-text text-darken-3" href="/Cuenta/">Iniciar Sesión</a></li>
                                </ul>
                            </div>
                        </li>
                    }
                }

            </ul>
        </ul>
    </header>
    @*@{
            oantarijaEntities BD = new oantarijaEntities();
            if (Request.IsAuthenticated)
            {
                var usu = BD.usuario.Single(o => o.correo == User.Identity.Name);
                if (usu.rol == 1)
                {
                    @Html.Partial("_MenuAdmin")
                }
                if (usu.rol == 2)
                {
                    @Html.Partial("_MenuUser")
                }
            }
            else
            {
                @Html.Partial("_MenuStandar")
            }
        }*@
    <main>
        @RenderBody()
    </main>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <footer class="page-footer red darken-3">
        <div class="footer-copyright red darken-2">
            <div class="container">
                &copy; @DateTime.Now.Year - MULTISERVIS
                <a class="grey-text text-lighten-4 right" href="#!">Website developed by Amilkar Dominguez</a>
            </div>
        </div>
    </footer>
    <script src="~/Resources/plugins/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/Resources/plugins/jquery/jquery.numeric.js"></script>
    <script src="~/Resources/plugins/materialize/js/materialize.js"></script>
    <script src="~/Resources/plugins/materialize/js/init.js"></script>
    <script src="~/Resources/plugins/datatable/js/init.datable.js"></script>
    <script src="~/Resources/plugins/datatable/js/jquery.dataTables.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
